$background:rgb(145,145,145);
header {
    height: 17rem;
    font-size: 1.5rem;
    background-color: $background;
}

.form-user {
    background-color: rgb(236,236,236);  

    p {
        font-size: 0.8rem;
    }

    .icon-plus {
        line-height: 4rem;
        font-size: 1.2rem;
    }
}

.detail {

    span {
        font-size: 1.8rem;
    }

    p {
        font-size: 0.9rem;
    }
}

.introduct {
    font-size: 1.2rem;
}

.list-img {
    margin: 0.05rem;
    height: 13rem;
    background-color: $background;
}