header{
    .icon-left{
        span{
            font-size: 0.9rem;
            font-weight: 700;
        }
    }
}

.icon-user{
    
    .wrap-user{
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 100%;
        background-color: rgb(145,145,145);
        line-height: 3.5rem;
    }
    .title-name{
        span{
            font-weight: bold;
            font-size: 1.3rem;
        }
        p{
            font-size: 0.8rem;
        }
    } 
}
.button-follow{
    .btn{
        font-size: 0.7rem;
        padding: 0.7rem;
        width: 6rem;
    }
}
.button-message{
    .btn{
        font-size: 0.7rem;
        padding: 0.7rem;
        width: 6rem;
        color: black;
        font-weight: bold;;

    }
}
.form-status{
    background-color: rgb(236,236,236);
    height: 13rem;
    height: auto;
    padding: 1.5rem;
    padding-top: 2rem;
    .user{
        .wrap-user{
            height: 2rem;
            width: 2rem;
            border-radius: 100%;
            background-color: black;
            color: white;
            font-size: 0.6rem;
            line-height: 2rem;
            padding-left: 0.7rem;
        }
        span{
            font-weight: 700;
        }
    }
    .status-title{
        b{
            font-size: 1.3rem;
        }
    }
}
.form-footer{
    height: 3rem;
    background-color: rgb(145,145,145);
    margin-top: -1rem;
}

