$background:rgb(145,145,145);
$background-user:rgb(236,236,236);
header {
    .icon-left {
        font-size: 1.3rem;
    }
}
.user {
    background-color: $background-user;
    padding-top: 1.5rem;
    .btn{
        font-size: 0.8rem;
        padding:1rem;
        width: 8rem;
    }
}
.rotate {
    transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    .inner {
        font-size: 0.7rem;
        margin-left: -1rem;
        position: absolute;

      }
      .outer {
        position: relative;
        display: inline-block;
      }
  }

.introduce {
    font-size: 1.2rem;
}
.follow {
    span {
        font-size: 1.6rem;
        font-weight: 500;
    }
    p {
        font-size: 0.9rem;
    }
}
.img {
    background-color: $background;
    height: 7rem;
    .number-follow{
        padding-top: 1.5rem;
        font-weight: 500;
        span{
            font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
        }
    }
}
.img-post {
    height: 15rem;
    background-color: $background;
}
.img-title{
    height:2rem;
    background-color: $background-user;
}