.user_chat{
    padding-top: 0.5rem;
    .msg_head{
        position: relative;
        .img_cont{
            @include size(3.4rem,3.4rem);
            .user_img{
                @include size(3.1rem,3.1rem);
                border:1.5px solid #f5f6fa;
            }
            .online_icon{
               @include icon-online();
                @include size(1rem,1rem);
                bottom: 0.2em;
                right: 0.4em;
        
            }
        }
        .name{
            @include size_name(1rem, 1rem, 0.5rem,0 )
        }
        .video_cam{
            margin-top: 5px;
            margin-left:auto;
            span{
                color: rgb(100,63,196);
                font-size: 1.5rem;
                cursor: pointer;
                margin-left: 1rem
            }
        }
    }  
}